header {
  height: 50px;
  background-color: #F80;
}

header *{
  margin: 0;
  padding: 5px;
}

.column{
  width: 50%;
  height: calc(100%-50px);
  float: left;
  background-color: #EEE;
}

.column *{
  padding: 5px;
}

body {
  margin: 0;
}

#title {
  font-family: "Montserrat", sans-serif;
}

.colHeader {
  margin: 0;
}

*:not(#title) {
  /* font-family: "Rubik", sans-serif; */
  font-family: "Assistant", sans-serif;
}
